.forms__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 0.7em;
  border: 3px solid #fff;
  border-radius: 15px;
}
.reason {
  display: flex;
  justify-content: center;
}
.form__text-yellow {
  color: #f4f750;
}
#greetings-type {
  margin-left: 15px;
}
.requirements {
  font-size: 0.5rem;
  color: #f4f750;
}