.navlink {
    padding: 0 20px;
  }

.active {
  color: #f4f750;
  cursor: default;
}

.header {
  height: 90px;
  width: 100%;
  line-height: 90px;
  text-shadow: 0.1px 0.1px 1px #564f49de;
  text-align: center;
  background: url('https://raw.githubusercontent.com/MarinaKovel/onlinestoredata/main/lemon_PNG25205.png') 3% 50%/ auto 80% no-repeat, url('https://raw.githubusercontent.com/MarinaKovel/onlinestoredata/main/Lemon2.png') 97% 50%/ auto 80% no-repeat;
}

.header__current {
  font-size: 0.7rem;
  color: #2AB5C5;
}

.footer {
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-family: 'Tilt Prism', cursive;
  font-size: 3em;
  color: #f4f750;
}