.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px #564f49;
    height: 60%;
    padding: 10%;
    font-family: 'Tilt Prism', cursive;
    font-size: 1.7rem;
    background: url('https://raw.githubusercontent.com/MarinaKovel/onlinestoredata/main/Lemon2.png') 50% 50%/auto 100% no-repeat;
}
.project {
    font-size: 0.6em;
    padding: 0 20%;
    text-shadow: 0.2px 0.2px 4px #564f49;
}