.header {
  height: 90px;
  line-height: 90px;
  text-align: center;
  background: url('https://raw.githubusercontent.com/MarinaKovel/onlinestoredata/main/lemon_PNG25205.png') 3% 20%/ 6% no-repeat;
}
.navlink {
  padding: 0 20px;
}
.footer {
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-family: 'Tilt Prism', cursive;
  font-size: 3em;
  color: #f4f750;
}
